.team {
    background: #f3f5f4;
    box-shadow: inset 0 0 3rem rgba(0, 0, 0.5, alpha);
    margin-top: 10rem;
}

h2 {
    color: #9D0208;
}

.team__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.team__member {
    background: #9D0208;
    padding: 2rem;
    border: 1px solid transparent;
    border-radius: 2rem;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
}

.team__member:hover {
    background: #FC2027;
    border-color: #FC2027;
}

.team__member-image img {
    filter: saturate(1);
    border-radius: 2rem;
}

.team__member:hover img {
    filter: saturate(0);
}

.team__member-info * {
    text-align: center;
    margin-top: 1.4rem;
}

.team__member-info p {
    color: rgba(255, 255, 255, 0.7);
}

.team__member-socials {
    position: relative;
    top: 20%;
    transform: translateY(-100%);
    right: -14%;
    display: flex;
    flex-direction: row;
    background: #F48C06;
    border-radius: 1rem 0 0 1rem;
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
    transition: var(--transition);
}

.team__member :hover

.team__member-socials {
    right: 0;
}
.team__member-socials a {
    padding: 1rem;
}


/* =========================== Media Queries (TABLETS) ========================================== */
@media screen and (max-width: 1024px) {
    .team__container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .team__member {
        padding: 1rem;
    }
}


/* =========================== Media Queries (mobile) ========================================== */
@media screen and (max-width: 600px) {
    .team__container {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .team__member {
        padding: 0;
    }

    .team__member p {
        margin-bottom: 1.5rem;
    }

    .team__member-info h4 {
        font-size: 1.3rem;
    }

    .team__member-socials {
        right: -1%;
        transform: translateY(-100%)
    }

    /* footer */
    .footer__container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    .footer__1 p {
        margin: 1rem auto;
    }

    .footer__2 p {
        margin: 1rem auto;
    }

    .footer__3 p {
        margin: 1rem auto;
        margin-bottom: 1rem auto;
    }

    .footer__socials {
        justify-content: center;
        margin-bottom: 8rem;
    }

    /* end of footer */
}